In [12]:
import os
os.chdir('../src/')

import pandas
import numpy

from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification


import utilities
from importlib import reload
import utilities
utilities = reload(utilities)

In [2]:
MAX_ROWS = 10000
df_raw_train = pandas.read_csv("../data/raw/train_ver2.csv", nrows=MAX_ROWS)
df_raw_test = pandas.read_csv("../data/raw/test_ver2.csv", nrows=MAX_ROWS)

In [3]:
df_raw_train.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [4]:
df_raw_train.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [5]:
df_raw_train.isnull().sum()

fecha_dato                   0
ncodpers                     0
ind_empleado                50
pais_residencia             50
sexo                        50
age                          0
fecha_alta                  50
ind_nuevo                   50
antiguedad                   0
indrel                      50
ult_fec_cli_1t            9988
indrel_1mes                 50
tiprel_1mes                 50
indresi                     50
indext                      50
conyuemp                 10000
canal_entrada               50
indfall                     50
tipodom                     50
cod_prov                    54
nomprov                     54
ind_actividad_cliente       50
renta                     1899
segmento                    50
ind_ahor_fin_ult1            0
ind_aval_fin_ult1            0
ind_cco_fin_ult1             0
ind_cder_fin_ult1            0
ind_cno_fin_ult1             0
ind_ctju_fin_ult1            0
ind_ctma_fin_ult1            0
ind_ctop_fin_ult1            0
ind_ctpp_fin_ult1            0
ind_deco_fin_ult1            0
ind_deme_fin_ult1            0
ind_dela_fin_ult1            0
ind_ecue_fin_ult1            0
ind_fond_fin_ult1            0
ind_hip_fin_ult1             0
ind_plan_fin_ult1            0
ind_pres_fin_ult1            0
ind_reca_fin_ult1            0
ind_tjcr_fin_ult1            0
ind_valo_fin_ult1            0
ind_viv_fin_ult1             0
ind_nomina_ult1             11
ind_nom_pens_ult1           11
ind_recibo_ult1              0
dtype: int64

In [6]:
df_raw_train.shape

(10000, 48)

In [7]:

df_raw_train.iloc[0]

fecha_dato                      2015-01-28
ncodpers                           1375586
ind_empleado                             N
pais_residencia                         ES
sexo                                     H
age                                     35
fecha_alta                      2015-01-12
ind_nuevo                              0.0
antiguedad                               6
indrel                                 1.0
ult_fec_cli_1t                         NaN
indrel_1mes                            1.0
tiprel_1mes                              A
indresi                                  S
indext                                   N
conyuemp                               NaN
canal_entrada                          KHL
indfall                                  N
tipodom                                1.0
cod_prov                              29.0
nomprov                             MALAGA
ind_actividad_cliente                  1.0
renta                              87218.1
segmento                 02 - PARTICULARES
ind_ahor_fin_ult1                        0
ind_aval_fin_ult1                        0
ind_cco_fin_ult1                         1
ind_cder_fin_ult1                        0
ind_cno_fin_ult1                         0
ind_ctju_fin_ult1                        0
ind_ctma_fin_ult1                        0
ind_ctop_fin_ult1                        0
ind_ctpp_fin_ult1                        0
ind_deco_fin_ult1                        0
ind_deme_fin_ult1                        0
ind_dela_fin_ult1                        0
ind_ecue_fin_ult1                        0
ind_fond_fin_ult1                        0
ind_hip_fin_ult1                         0
ind_plan_fin_ult1                        0
ind_pres_fin_ult1                        0
ind_reca_fin_ult1                        0
ind_tjcr_fin_ult1                        0
ind_valo_fin_ult1                        0
ind_viv_fin_ult1                         0
ind_nomina_ult1                        0.0
ind_nom_pens_ult1                      0.0
ind_recibo_ult1                          0
Name: 0, dtype: object

In [10]:
df_raw_train.dtypes

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                       object
fecha_alta                object
ind_nuevo                float64
antiguedad                object
indrel                   float64
ult_fec_cli_1t            object
indrel_1mes              float64
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                 float64
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1            int64
dtype: object

In [9]:
df_raw_train['fecha_dato'].value_counts()

fecha_dato
2015-01-28    10000
Name: count, dtype: int64

In [40]:
df_raw_train['sexo'].value_counts()

sexo
H    53407
V    45910
Name: count, dtype: int64

In [42]:
df_raw_train['ind_empleado'].value_counts()

ind_empleado
N    99317
Name: count, dtype: int64

In [49]:
df_raw_train['antiguedad'].value_counts()

antiguedad
     33    15648
     36    12058
     35    11788
     34    11684
     32    10899
           ...
      3        3
     49        3
     42        2
      2        1
    157        1
Name: count, Length: 62, dtype: int64

In [54]:
df_raw_train['antiguedad'].value_counts().to_string()

'antiguedad\n     33    15648\n     36    12058\n     35    11788\n     34    11684\n     32    10899\n     46    10139\n     47     7736\n     31     4226\n     30     2189\n     38     1770\n     27     1678\n     37     1519\n     29     1501\n     45     1428\n     28     1258\n     57      704\n     NA      683\n     58      592\n     59      555\n     39      554\n     26      367\n     56      238\n     21       69\n     10       56\n     12       51\n      8       48\n      9       48\n     22       44\n     18       37\n     13       36\n     11       33\n     20       31\n     23       30\n     16       27\n      6       26\n     24       25\n     25       23\n     15       22\n     14       22\n     19       21\n     17       19\n      7       15\n     44       15\n     52       11\n     43        9\n     40        9\n     53        6\n     48        5\n      1        5\n     55        5\n     54        5\n      0        4\n     50        4\n      4        4\n     51        4\n     41        4\n      5        3\n      3        3\n     49        3\n     42        2\n      2        1\n    157        1'

In [53]:
df_raw_train['age'].value_counts()

age
 23    22099
 24    15054
 25     8121
 22     7290
 26     6334
       ...
 99        2
 97        1
100        1
101        1
106        1
Name: count, Length: 100, dtype: int64

In [50]:
columns = ['fecha_dato', 'ncodpers', 'sexo', 'antiguedad', 'age', 'renta'] + list(df_raw_train.columns[24:-4])

In [47]:
columns

['fecha_dato',
 'ncodpers',
 'sexo',
 'antiguedad',
 'age',
 'renta',
 'ind_ahor_fin_ult1',
 'ind_aval_fin_ult1',
 'ind_cco_fin_ult1',
 'ind_cder_fin_ult1',
 'ind_cno_fin_ult1',
 'ind_ctju_fin_ult1',
 'ind_ctma_fin_ult1',
 'ind_ctop_fin_ult1',
 'ind_ctpp_fin_ult1',
 'ind_deco_fin_ult1',
 'ind_deme_fin_ult1',
 'ind_dela_fin_ult1',
 'ind_ecue_fin_ult1',
 'ind_fond_fin_ult1',
 'ind_hip_fin_ult1',
 'ind_plan_fin_ult1',
 'ind_pres_fin_ult1',
 'ind_reca_fin_ult1',
 'ind_tjcr_fin_ult1',
 'ind_valo_fin_ult1']

In [52]:
df_raw_train[columns].dtypes

fecha_dato            object
ncodpers               int64
sexo                  object
antiguedad            object
age                   object
renta                float64
ind_ahor_fin_ult1      int64
ind_aval_fin_ult1      int64
ind_cco_fin_ult1       int64
ind_cder_fin_ult1      int64
ind_cno_fin_ult1       int64
ind_ctju_fin_ult1      int64
ind_ctma_fin_ult1      int64
ind_ctop_fin_ult1      int64
ind_ctpp_fin_ult1      int64
ind_deco_fin_ult1      int64
ind_deme_fin_ult1      int64
ind_dela_fin_ult1      int64
ind_ecue_fin_ult1      int64
ind_fond_fin_ult1      int64
ind_hip_fin_ult1       int64
ind_plan_fin_ult1      int64
ind_pres_fin_ult1      int64
ind_reca_fin_ult1      int64
ind_tjcr_fin_ult1      int64
ind_valo_fin_ult1      int64
dtype: object

In [48]:
df_raw_train[columns].describe()

,ncodpers,renta,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,...,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1
count,1.000000e+05,8.171600e+04,100000.0,100000.0,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.00000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.040513e+06,1.155589e+05,0.0,0.0,0.903270,0.000040,0.053870,0.009390,0.015940,0.000070,...,0.000340,0.021000,0.07102,0.00373,0.000110,0.001260,0.000200,0.019250,0.018640,0.004630
std,6.282306e+04,1.594097e+05,0.0,0.0,0.295591,0.006324,0.225762,0.096446,0.125244,0.008366,...,0.018436,0.143385,0.25686,0.06096,0.010488,0.035474,0.014141,0.137403,0.135251,0.067887
min,8.885090e+05,2.539800e+03,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.019914e+06,6.217089e+04,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.055276e+06,8.961021e+04,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.088296e+06,1.330239e+05,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.375586e+06,2.425324e+07,0.0,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
columns = ['fecha_dato', 'ncodpers', 'sexo', 'antiguedad', 'age', 'renta'] + list(df_raw_train.columns[24:-4])
df_train = df_raw_train[columns].copy()

# Cleaning antiguedad
df_train = utilities.impute_median(df_train, 'antiguedad')
# Cleaning age
df_train = utilities.impute_median(df_train, 'age')
# cleaning sex
df_train['sexo'] = df_train['sexo'].fillna('H')
# clean income imputing median
df_train['renta'] = df_train['renta'].fillna(df_train['renta'].dropna().median())

# make dummies for sexo
df_train['sexo'] = pandas.get_dummies(df_train['sexo'], drop_first=True)

In [14]:
df_train.isnull().sum()

fecha_dato           0
ncodpers             0
sexo                 0
antiguedad           0
age                  0
renta                0
ind_ahor_fin_ult1    0
ind_aval_fin_ult1    0
ind_cco_fin_ult1     0
ind_cder_fin_ult1    0
ind_cno_fin_ult1     0
ind_ctju_fin_ult1    0
ind_ctma_fin_ult1    0
ind_ctop_fin_ult1    0
ind_ctpp_fin_ult1    0
ind_deco_fin_ult1    0
ind_deme_fin_ult1    0
ind_dela_fin_ult1    0
ind_ecue_fin_ult1    0
ind_fond_fin_ult1    0
ind_hip_fin_ult1     0
ind_plan_fin_ult1    0
ind_pres_fin_ult1    0
ind_reca_fin_ult1    0
ind_tjcr_fin_ult1    0
ind_valo_fin_ult1    0
dtype: int64